{% extends 'layout.html' %}
{% block body %}
<form action="/positivo" method="POST">

    <div class="field" id="MensPos">
        <h2>Mensaje Neutro</h2>
    </div>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTfhiWBv4bmNU7NuT7ttoNOJOkdzOds0AOc_mGZ3cOLv-DPLHkVkjD4SVM59t5M0PXsU8&usqp=CAU"/>

    <div class="field" id="BotonPos">
            <button type="submit" class="btn btn-secondary">
                Volver
            </button>
    </div>

</form>

{% endblock %}
